@charset "UTF-8";

body {
    background-color: rgb(0, 255, 0);
   /* overflow-x: hidden; */
}

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}