@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    background-color: green;
    color: black;
    text-align: center;
    padding: 40px;
    font-size: 2vw;
}
header > h1{
   font-variant: ;
}

