@charset "UTF-8";

/* versão para medias queries */

/* typical device break points:
    320px — 480px: dispositivos móveis.
    481px — 768px: iPads, tablets.
    769px — 1024px: telas pequenas, laptops.
    1025px — 1200px: desktops, telas grandes.
    1201px e acima — telas muito grandes, TVs.
*/

@media print {
    h1, p {
        color: black;
    }

    p {
        font-size: 2em;
    }

    strong#date {
        font-size: 28px;
    }

    strong#note {
        font-size: 25px;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-image: url("../imagens/PD2.webp");
        
    }

    h1 {
        font-size: 9px;
        color: red;
        display: none;
    }

    p {
        color: rgb(0, 255, 0);
        display: none;
    }
}