@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap'); 

:root{
    --fonte_normal: Verdana, Tahoma, sans-serif;
    --font_titulo: "Mochiy Pop One", sans-serif;
    --fonte_texto: "Playwrite NZ", "mochiy pop one";
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte_normal);
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font_titulo);
    font-size: 6vw;
}

header > p{
    padding-bottom: 50px;
}

header  a, footer a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte_texto);
    font-size: 2.8vw;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.603);
}

section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: center right;
    background-size: cover;
}

section#img02{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
}

section > p{
 padding-bottom: 2em;
}

section.normal{
  background-color: white;
  color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 8px;
    text-shadow: 1px 1px 0px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}