@charset "UTF-8";

/*
    PROPIEDADES DE LAYOUT: Relacionadas à posição e tamanho (ex: margin, padding, display, position).

    PROPIEDADES DE ESTILO VISUAL: Relacionadas à cor, bordas, sombras (ex: background, color, border, box-shadow).

    PROPRIEDADES TIPOFRÁFICAS : Relacionadas ao texto (ex: font-family, font-size, line-height, text-align).
*/

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: radial-gradient(circle, gray,  black);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#formm {
    position: absolute;
    overflow: hidden;
    height: 500px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 10px;
}

section#formm > div#imagem {
    background-color: black;
    background: black url(../imagens/fundo.jpg) center center no-repeat;
    background-size: cover;
    height: 40%;
}

section#formm > div#login {
    height: 60%;
    padding: 10px;
}