@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #3D4435;
    color: #C2C8CC;
}

header > div#esquerda {
    align-self: flex-start;

    font-size: 6em;
}

header > div#meio {
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    text-align: center;
}

div#meio > h1 {
    font-size: 2.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

div#meio > nav {
    font-size: 1.3em;
    padding-bottom: 20px;
}

nav > a {
    padding-left: 10px;

    color: #C2C8CC;

    text-decoration: none;
}

div#meio > p {
    font-size: 1.7em;
}

header > div#direita {
    padding-top: 67px;
    align-self: flex-start;
}

div#direita > a#entrar {
    color: #C2C8CC;

    text-decoration: none;
    font-size: 1.1em;
}

div#direita > a#comigo {
    padding: 20px;

    background-color: #C2C8CC;
    color: black;

    text-decoration: none;
    font-size: 1.1em;
}

main {
    height: 99.3vh;
}

div#imagem {
    height: 100%;

    background: black url("../imagens/pexels-joelsantosfotografias-15780875.jpg") center left no-repeat;
    background-size: cover;
}