@charset "UTF-8";

@font-face {
    font-family: 'texto';
    src: url('../fontes/BebasNeue-Regular.otf') format(opentype);
}

@font-face {
    font-family: 'titulos';
    src: url('../fontes/BEER.TTF') format(opentype);
}

:root {
    --color1: #F2B705; 
    --color2: #F29F05; 
    --color3: #F27405; 
    --color4: #D95204; 
    --color5: #A62F03; 

    --font_texto: 'texto';
    --font_titulo: 'titulos';
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

header {
    height: 217px;

    background-color: var(--color2);    
}

div#cabeça {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--color2);
}

div#cabeça > h1 {
    padding-top: 40px;

    font-family: var(--font_titulo);
    font-weight: normal;
    font-size: 3em;
}

div#cabeça > nav {
    align-self: flex-start;
}

div#cabeça > nav > a {
    margin-left: 10px;

    color: black;

    font-size: 23px;
    text-decoration: none;
    font-family: var(--font_texto);
    font-weight: 100;
}

div#cabeça > nav > a:hover {
    padding: 10px;
   

    background-color: black;
    color: var(--color1);
    border-radius: 20px;

    transition: 1s;
}

main > section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

main > section.normal {
    background-color: white;
}

main > section.normal > p {
    padding: 20px;


    line-height: 2em;
    font-size: 30px;
}

main > section.normal > h1 {
    padding: 20px;

    font-size: 36px;
} 

main > section.imagem > p {
    padding: 20px;


    line-height: 2em;
    font-size: 30px;
}

main > section.imagem > h1 {
    padding: 20px;

    font-size: 36px;
} 

main > section.imagem {
    background-color: black;
    color: white;
}

section > h1 {
    font-family: var(--font_titulo);
    font-weight: normal;
}

section > p {
    font-family: var(--font_texto);
    font-weight: normal;
}