@charset "UTF-8";

@font-face {
    font-family: 'texto';
    src: url('../fontes/PlaywriteNZ-VariableFont_wght.ttf') format(opentype);
}

@font-face {
    font-family: 'titulos';
    src: url('../fontes/MochiyPopOne-Regular.ttf') format(opentype);
}

:root {
    --color1: #F2B705; 
    --color2: #F29F05; 
    --color3: #F27405; 
    --color4: #D95204; 
    --color5: #A62F03; 

    --font_texto: 'texto';
    --font_titulo: 'titulos';
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

header {
    height: 217px;

    background-color: var(--color2);    
}

div#cabeça {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--color2);
}

div#cabeça > h1 {
    padding-top: 40px;
    padding-bottom: 60px;

    font-family: var(--font_titulo);
    font-weight: normal;
    font-size: 3em;
}

div#cabeça > nav {
    align-self: flex-start;
}

div#cabeça > nav > a {
    margin-left: 10px;

    color: black;

    font-size: 23px;
    text-decoration: none;
    font-family: var(--font_texto);
    font-weight: 100;
}

div#cabeça > nav > a:hover {
    padding: 6px;
   

    background-color: black;
    color: var(--color1);
    border-radius: 30px;

    transition: 1s;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte_texto);
    font-size: 2.8vw;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.603);
}

section > h1 {
    padding-bottom: 50px;

    font-family: var(--font_titulo);
    font-weight: normal;
}

section > p{
    padding-bottom: 2em;
    
    font-family: var(--fonte_texto);
    font-weight: normal;
}
   
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}



section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 8px;
}

footer {
    padding: 30px;

    background-color: var(--color4);

    text-align: center;
}

footer > p {
    font-family: var(--font_titulo);
    font-size: 2em;
    font-weight: normal;
}