@charset "UTF-8";
/* VERSÃO MOBILE FIRST*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #2626ff;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    height: 515px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url("../imagens/pexels-jplenio-1103970.jpg") no-repeat top right;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: center;
}