@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(83, 7, 206);
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}

div#imagem {
    display: block;
}

div#formulario {
    display: block;
}